<!DOCTYPE html>
<html lang="zh-Hant-TW">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>week4</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  </head>

  <body>
    <div id="app">
      <div class="container">
        <div class="text-end mt-4">
          <button class="btn btn-primary" @click="openModal('new')">
            建立新的產品
          </button>
        </div>
        <table class="table mt-4">
          <thead>
            <tr>
              <th width="120">
                分類
              </th>
              <th>產品名稱</th>
              <th width="120">
                原價
              </th>
              <th width="120">
                售價
              </th>
              <th width="100">
                是否啟用
              </th>
              <th width="120">
                編輯
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item) in products">
              <td>{{item.category}}</td>
              <td>{{item.title}}</td>
              <td class="text-end">NT$ {{item.origin_price}}</td>
              <td class="text-end">NT$ {{item.price}}</td>
              <td>
                <span v-if="item.is_enabled"class="text-success">啟用</span>
                <span v-else>未啟用</span>
              </td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-outline-primary btn-sm" @click="openModal('edit', item)">
                    編輯
                  </button>
                  <button type="button" class="btn btn-outline-danger btn-sm" @click="openModal('delete', item)">
                    刪除
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- props(外到內): pages(內層)、pagination(外層)，使用 v-bind 做傳遞 --> <!-- 口訣: 前內後外 -->
        <!-- emit(內到外): get-product(內層)、getData(外層)，使用 v-on 做傳遞 --> <!-- 口訣: 前內後外 -->
        <pagination :pages="pagination" @get-product="getData"></pagination> <!-- 分頁標籤 (溝通的橋樑) -->
      </div>

      <!-- productModal (編輯、新增用) -->
      <div id="productModal" ref="productModal" class="modal fade" tabindex="-1" aria-labelledby="productModalLabel"
           aria-hidden="true">
          <!-- 前內: 元件內的 tempProduct 後外: app中的data  -->
          <!-- props: 內層 temp-product，外層 tempProduct -->
          <!-- emit:  內層 get-data，外層 getData-->
           <product-modal :temp-product="tempProduct" :is-new="isNew" @get-data="getData"></product-modal></product-modal>
      </div>
      <!-- productModal -->

      <!-- delProductModal (刪除用) -->
      <div id="delProductModal" ref="delProductModal" class="modal fade" tabindex="-1"
           aria-labelledby="delProductModalLabel" aria-hidden="true">
           <del-product-modal :temp-product="tempProduct" @get-data="getData"></del-product-modal>
      </div>
      <!-- delProductModal -->

    </div>

    <!-- x-template(新增、編輯) 要寫在 app 外面，並加上 type="text/x-template"、id -->
    <!-- 建好後做資料的對應、方法的對應 -->
    <script type="text/x-template" id="templateForProductModal">
      <div class="modal-dialog modal-xl">
        <div class="modal-content border-0">
          <div class="modal-header bg-dark text-white">
            <h5 id="productModalLabel" class="modal-title">
              <span v-if="isNew">新增產品</span>
              <span v-else>編輯產品</span>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
            <!-- 圖片 -->    
              <div class="col-sm-4">
                <div class="mb-2">
                  <div class="mb-3">
                    <!-- label 的 for 對應 input 的 id -->
                    <label for="imageUrl" class="form-label">主要圖片</label>
                    <input type="text" class="form-control"
                    v-model="tempProduct.imageUrl" id="imageUrl" placeholder="請輸入圖片連結">
                    <!-- class="img-fluid" Boostrap 語法 (可依父元素進行縮放) -->
                    <img class="img-fluid" :src="tempProduct.imageUrl" alt="">
                  </div>
                </div>

                <!-- 多張圖片 --> 
                <h3 class="mb-3">多圖新增</h3>
                <!-- 判斷這"欄位(tempProduct.imageUrl)"是否為陣列 -->
                  <div v-if="Array.isArray(tempProduct.imgUrl)">
                    <!-- 輸入圖片網址 -->
                    <div class="mb-1" v-for="(img, key) in tempProduct.imgUrl" :key=" key + '12345' ">
                      <input type="text" class="form-control" 
                      v-model="tempProduct.imgUrl[key]"  placeholder="請輸入圖片連結">
                    <!-- class="img-fluid" Boostrap 語法 (可依父元素進行縮放) -->
                      <img class="img-fluid" :src="tempProduct.imgUrl[key]" alt="">
                    </div>
                    <!-- 圖片新增、刪除按鈕 -->
                    <!-- 判斷陣列有沒有內容，如果沒有 (長度為 0)就新增一個 || 判斷當前是否有內容，使用索引值，長度-1，輸入內容後即可新增下一筆 -->
                    <button v-if="!tempProduct.imgUrl.length || tempProduct.imgUrl[tempProduct.imgUrl.length-1]"
                    type="button" class="btn btn-outline-primary btn-sm d-block w-100"
                    @click="tempProduct.imgUrl.push('')">新增</button>
                    <button v-else
                    type="button" class="btn btn-outline-danger btn-sm d-block w-100"
                    @click="tempProduct.imgUrl.pop()">刪除最後一個</button>
                  </div>
                  <!-- 非陣列型態新增陣列儲存圖片 -->
                  <div v-else>
                    <button class="btn btn-outline-primary btn-sm d-block w-100" @click="createImages">
                        新增圖片
                    </button>
                  </div>
                <!-- 多張圖片 --> 
              </div>
            <!-- 圖片 -->

            <!-- 輸入欄位 -->
              <div class="col-sm-8">
                <div class="mb-3">
                  <label for="title" class="form-label">標題</label>
                  <input id="title" type="text" class="form-control" v-model="tempProduct.title" placeholder="請輸入標題">
                </div>

                <!-- 分類、單位 (同一列)-->
                <div class="row">
                  <!-- 分類格 -->
                  <div class="mb-3 col-md-6">
                    <label for="category" class="form-label">分類</label>
                    <input id="category" type="text" class="form-control"
                    v-model="tempProduct.category"  placeholder="請輸入分類">
                  </div>
                  <!-- 單位格 -->
                  <div class="mb-3 col-md-6">
                    <label for="price" class="form-label">單位</label>
                    <input id="unit" type="text" class="form-control" v-model="tempProduct.unit" placeholder="請輸入單位">
                  </div>
                </div>

                <!-- 價格 (同一列)-->
                <div class="row">
                  <!-- 原價格 -->
                  <div class="mb-3 col-md-6">
                    <label for="origin_price" class="form-label">原價</label>
                    <!-- v-model.number 確保值為 "數值" -->
                    <input id="origin_price" type="number" min="0" class="form-control" 
                    v-model.number="tempProduct.origin_price" placeholder="請輸入原價">
                  </div>
                  <!-- 售價格 -->
                  <div class="mb-3 col-md-6">
                    <label for="price" class="form-label">售價</label>
                    <!-- v-model.number 確保值為 "數值" -->
                    <input id="price" type="number" min="0" class="form-control"
                    v-model.number="tempProduct.price" placeholder="請輸入售價">
                  </div>
                </div>

                <hr>

                <!-- 產品描述格 -->
                <div class="mb-3">
                  <label for="description" class="form-label">產品描述</label>
                  <textarea id="description" type="text" class="form-control"
                  v-model="tempProduct.description" placeholder="請輸入產品描述">
                  </textarea>
                </div>

                <!-- 說明內容格 -->
                <div class="mb-3">
                  <label for="content" class="form-label">說明內容</label>
                  <textarea id="description" type="text" class="form-control"
                  v-model="tempProduct.content" placeholder="請輸入說明內容">
                  </textarea>
                </div>

                <!-- 是否啟用格 -->
                <div class="mb-3">
                  <div class="form-check">
                    <!-- 使用:true-value :false-value="0"  建立布林值 -->
                    <input id="is_enabled" v-model="tempProduct.is_enabled" class="form-check-input" type="checkbox"
                      :true-value="1" :false-value="0">
                    <label class="form-check-label" for="is_enabled">是否啟用</label>
                  </div>
                </div>

              </div>
            <!-- 輸入欄位 -->
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              取消
            </button>
            <button type="button" class="btn btn-primary" @click="updateProduct">
              確認
            </button>
          </div>
        </div>
      </div>
    </script>
  
    <!-- x-template(刪除) -->
    <script type="text/x-template" id="templateForDelModal">
      <div class="modal-dialog">
        <div class="modal-content border-0">
          <div class="modal-header bg-danger text-white">
            <h5 id="delProductModalLabel" class="modal-title">
              <span>刪除產品</span>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            是否刪除
            <strong class="text-danger">{{tempProduct.title}}</strong> 商品(刪除後將無法恢復)。
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              取消
            </button>
            <button type="button" class="btn btn-danger" @click="deleteProduct">
              確認刪除
            </button>
          </div>
        </div>
      </div>
    </script>


  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js'
    integrity='sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=='
    crossorigin='anonymous'></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
    crossorigin="anonymous"></script>
  <!-- Bootstrap JavaScript-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"></script>

  <script src="products.js" type="module"></script>
  </body>
</html>
